@use '../global/' as g;

.c-box {
  padding: 1rem;
  border: 1px solid g.$main_color;
  // box-shad/ow: 2px 3px 6px #aaa;
  transition: 300ms;
}

.c-box:has(a):hover {
  transform: translateY(-10px);
}