@use '../global/' as g;

.c-container {
  margin: auto;
  @include g.mq(sm) {
    max-width: map-get(g.$max_widths, sm);
  }
  @include g.mq(md) {
    max-width: map-get(g.$max_widths, md);
  }
  @include g.mq(lg) {
    max-width: map-get(g.$max_widths, lg);
  }
  @include g.mq(xl) {
    max-width: map-get(g.$max_widths, xl);
  }
}

