@use '../global/' as g;
.p-full-view {
    position: relative;
}

.p-full-view::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: g.$main_color, $alpha: 0.7);
}