@use '../global/' as g;

.p-top-fv {
  position: relative;
  @include g.mq('md') {
    display: flex;
    align-items: center;
  }
  background: url('images/bg-top-fv.jpg') no-repeat left bottom;
  height: 100vh;
}
.p-top-fv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba($color: #000000, $alpha: 0.4);
}
.p-top-fv__text, .p-top-fv__image {
  position: relative;
  padding: 1rem;
  color: g.$main_color_cont;
  @include g.mq('md') {
    width: 50%;
  }
}

.p-top-fv__image {
  height: 100%;
}

.p-top-fv__image img {
  margin-left: auto;
  height: 100%;
}