@use '../global/' as g;

.l-nav-container {
  display:none;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 1rem;
  width: 100%;
  height: 100%;
  background: rgba($color: g.$main_color, $alpha: 0.9);
  z-index: 9999;
}